.navigation {
    height: 10vh;
    background-color: $color-primary;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    color: $color-white;
    font-family: $font-display;
    font-size: 20px;
    font-weight: bold;
}
.button {
    color: $color-white;
    display: block;
    width: 100px;
    background-color: $color-secondary;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    &--form {
        margin-top: 10px;
        width: 100%;
        background-color: $color-primary-light;
        
    }
}
.intro {
    text-align: center;

    &__heading{
        color: $color-primary;
        font-size: 50px;
    }
    &__sub-heading {
        font-family: $font-display;
        font-size: 25px;
        margin:20px 0;
        font-weight: bold;
    }
    &__button{
        margin: 0 auto;
    }
}

.form {
    
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    border: 2px solid $color-black;
    background-color:$color-white;

    &__input {
        width: 100%;
        height: 30px;
        border: 1px solid $color-black;
        margin-bottom: 20px;
    }

    &__label {
        font-size: 20px;
        padding: 10px 0;
    }
    
    
}

.wave {
    vertical-align: top;
   
}
.end {
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    &__sub-heading {
            font-family: $font-display;
            font-size: 25px;
            margin:20px 0;
            font-weight: bold;
        }
    &__logout {
            background-color: $color-white;
            border: 2px solid $color-primary-light;
            color: $color-primary;
            width: 130px;
            padding: 5px 15px;
        }
}

.footer {
    background-color: $color-primary;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding: 20px;

    &__text {
    color: $color-white;
    }
}