<<<<<<< HEAD
.header {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.main {
    height: 60vh;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

=======
.header {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items:center;
    
}

.main {
    height: 50vh;
    background-color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
}

>>>>>>> 94dd55ce9f0568856b8d12306aa8e5ebbcd2e28c
